@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewBag.AppTitle</h1>
    <div class="col-10">
        <div>A .Net Core 7 MVC app</div>
        <div>Folder: E:\Projects\MVCCore70_Jenkins</div>
        <div>Elastic Beanstalk Env: MVCCore70Jenkins-dev</div>
        <div><a href=@ViewBag.AppLink>Open Link</a> </div>
   
    <div>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</div>
    </div>
</div>
